# Environments
.env
.env.*
!.env.example

# Node
node_modules/
dist/
build/
.npm/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
venv/
env/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo
